<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayerDBVideotheque.Properties.Settings.DBVideotheque_VerviersConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=DBVideotheque_Verviers;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>